@import "tailwindcss";
@source "../src/main/resources/templates";

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;
    --radius-default: 16px;

    --color-primary: #5842c3;
    --color-primary-dark: #251e40;
    --color-primary-light: #e3b0ff;
    --color-background: #111827;
    --color-foreground: #f9fafa;
    --color-neutral: #bdbdbd;
    --color-accent: #00d9ff;
}

@layer components {
    body {
        margin: 0;
        padding: 0;
    }

    .typography {
        p, a, span {
            font-size: var(--text-base);
            color: var(--color-neutral);
        }
        h1 {
            font-size: var(--text-2xl);
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
        h2 {
            font-size: var(--text-xl);
            font-weight: var(--font-weight-semibold);
            color: var(--color-primary);
        }
    }

    .gradient-background {
        background:
            radial-gradient(ellipse at top left, color-mix(in srgb, var(--color-primary), var(--color-background) 60%) 0%, transparent 60%),
            radial-gradient(ellipse at bottom right, color-mix(in srgb, var(--color-primary-dark), var(--color-background) 50%) 0%, transparent 60%),
            var(--color-background);
    }

    .nav-link {
        @apply text-neutral
                text-sm
                font-bold
                transition-colors
                duration-300
                hover:text-primary-light
                hover:bg-black/20
                rounded-lg
                p-3;
    }

    .primary-button {
        @apply bg-primary-light
                text-primary-dark
                text-sm
                font-bold
                rounded-6xl
                py-4
                px-6
    }
}

