<header th:fragment="header">
    <nav class="nav__container container">
        <div class="nav__brand" th:text="#{header.brand}">thiagoodev</div>
        <ul class="nav__list">
            <li><a href="#inicio" class="nav__link" data-nav="inicio" th:text="#{nav.home}">Início</a></li>
            <li><a href="#sobre" class="nav__link" data-nav="sobre" th:text="#{nav.about}">Sobre</a></li>
            <li><a href="#experiencias" class="nav__link" data-nav="experiencias" th:text="#{nav.career}">Carreira</a></li>
            <li><a href="#projetos" class="nav__link" data-nav="projetos" th:text="#{nav.portfolio}">Portfólio</a></li>
            <li><a href="#comunidade" class="nav__link" data-nav="comunidade" th:text="#{nav.community}">Comunidade</a></li>
        </ul>
    </nav>
</header>