<header th:fragment="header" class="container">
    <nav class="nav__container">
        <h1 class="nav__brand" th:text="#{header.brand}">thiagoodev</h1>
        <ul class="nav__list">
            <li><a th:href="@{/}" class="nav__link" th:text="#{nav.home}">Início</a></li>
            <li><a th:href="@{/}" class="nav__link" th:text="#{nav.career}">Carreira</a></li>
            <li><a th:href="@{/}" class="nav__link" th:text="#{nav.portfolio}">Portfólio</a></li>
            <li><a th:href="@{/}" class="nav__link" th:text="#{nav.about}">Sobre</a></li>
            <li><a th:href="@{/}" class="nav__link" th:text="#{nav.contact}">Contato</a></li>
        </ul>
    </nav>
</header>