<header th:fragment="header">
    <nav class="nav__container container">
        <div class="nav__brand" th:text="#{header.brand}">thiagoodev</div>
        <ul class="nav__list">
            <li><a th:href="@{/}" class="nav__link" data-nav="inicio" th:text="#{nav.home}">Início</a></li>
            <li><a th:href="@{/about}" class="nav__link" data-nav="about" th:text="#{nav.about}">Sobre</a></li>
            <li><a th:href="@{/career}" class="nav__link" data-nav="career" th:text="#{nav.career}">Carreira</a></li>
            <li><a th:href="@{/portfolio}" class="nav__link" data-nav="portfolio" th:text="#{nav.portfolio}">Portfólio</a></li>
            <li><a th:href="@{/contact}" class="nav__link" data-nav="contact" th:text="#{nav.contact}">Contato</a></li>
        </ul>
    </nav>
</header>