<header th:fragment="header" class="p-6">
    <nav class="flex justify-between items-center">
        <h1 class="text-primary text-2xl font-bold">thiagoodev</h1>

        <ul class="flex gap-2">
            <li>
                <a href="#" class="text-neutral text-base font-bold transition-colors duration-300 hover:text-purple-300 hover:bg-primary rounded-lg p-3">Portfólio</a>
            </li>
            <li>
                <a href="#" class="text-neutral text-base font-bold transition-colors duration-300 hover:text-purple-300 hover:bg-primary rounded-lg p-3">Sobre</a>
            </li>
            <li>
                <a href="#" class="text-neutral text-base font-bold transition-colors duration-300 hover:text-purple-300 hover:bg-primary rounded-lg p-3">Contato</a>
            </li>
        </ul>
    </nav>
</header>