<header th:fragment="header" class="p-6">
    <nav class="flex justify-between items-center">
        <h1 class="text-[var(--color-gray-soft)] text-2xl font-bold">thiagoodev</h1>

        <ul class="flex gap-4">
            <li>
                <a href="#" class="hover:text-[var(--color-brand-purple-light)] transition-colors duration-300 text-base font-bold">Portfólio</a>
            </li>
            <li>
                <a href="#" class="hover:text-[var(--color-brand-purple-light)] transition-colors duration-300 text-base font-bold">Sobre</a>
            </li>
            <li>
                <a href="#" class="hover:text-[var(--color-brand-purple-light)] transition-colors duration-300 text-base font-bold">Contato</a>
            </li>
        </ul>
    </nav>
</header>