<div th:fragment="hero" class="text-left">
    <h1 class="text-6xl font-bold text-foreground leading-tight fade-up" style="animation-delay: 0.1s;">
        👋 Sou <span class="text-accent">Thiago Sousa</span>
    </h1>

    <h2 class="text-4xl font-semibold text-primary-light leading-relaxed fade-up" style="animation-delay: 0.2s;">
        Engenheiro de Software
    </h2>

    <h3 class="text-2xl font-medium text-neutral leading-relaxed fade-up" style="animation-delay: 0.3s;">
        e criador da comunidade <span class="text-primary-light">Mobile Devs Ceará</span>
    </h3>

    <p class="text-lg text-neutral mt-6 max-w-2xl leading-relaxed fade-up" style="animation-delay: 0.4s;">
        Sou Engenheiro de Software e <strong>criador de coisas.</strong> O meu trabalho é simples: fazer o código virar <strong>sistemas inteligentes e funcionais</strong>.
    </p>

    <div class="flex flex-row gap-4 justify-center mt-10 fade-up" style="animation-delay: 0.5s;">
        <button class="primary-button w-55">
            Entrar em contato
        </button>

        <button class="primary-button-dark w-55">
            Blog
        </button>
    </div>
</div>