body {
    font-family: var(--pico-font-family), sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    position: relative;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: absolute;
    z-index: -1;

    top: 50px;
    left: 50%;

    transform: translateX(-50%);

    width: 700px;
    height: 600px;

    background-image: radial-gradient(
            circle,
            rgba(88, 66, 195, 0.25),
            rgba(0, 217, 255, 0.15) 60%,
            transparent 80%
    );

    filter: blur(120px);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.scroll-hidden {
    opacity: 0;
    transform: translateY(30px);
}

.scroll-visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}