header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.brand-logo {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

nav ul li a {
    color: var(--color-neutral);
    font-weight: 700;
    text-decoration: none;
    padding: 1.25rem 1rem;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-primary-light);
    background-color: rgba(189, 189, 189, 0.1);
}

a[role="button"] {
    display: inline-block;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 100px;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: var(--color-primary-light);
    color: #000000;
    box-shadow: none;
    border: none;
}

a[role="button"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(227, 176, 255, 0.5);
}

a[role="button"].secondary {
    background-color: transparent;
    color: var(--color-neutral);
    border: 1px solid var(--color-neutral);
    box-shadow: none;
}

a[role="button"].secondary:hover {
    transform: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--color-neutral);
}

.footer-trademark {
    display: inline-block;
    border: 1px solid var(--color-neutral);
    color: var(--color-neutral);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
}