.hero {
    padding: 6rem 0;
    display: flex;
    justify-content: center;
}

.hero__grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
}

.hero__image-wrapper {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: 0 0 50px 0px var(--color-primary);
}

.hero__content {
    text-align: center;
}

.hero__title {
    background: linear-gradient(to right, var(--color-foreground), var(--color-primary-light), var(--color-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-foreground);
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 1.25rem;
    line-height: 1.3;
}

.hero__subtitle {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
    color: var(--color-neutral);
}

.hero__separator {
    color: var(--color-accent);
    font-weight: 700;
}

.highlight {
    color: var(--color-primary-light);
    font-weight: 700;
}

.hero__description {
    font-size: 0.95rem;
    color: var(--color-neutral);
    max-width: 45ch;
    margin-bottom: 2.5rem;
}

.hero__description-highlight {
    color: var(--color-foreground);
    font-weight: 700;
}

.hero__actions {
    margin-top: 0;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .hero__grid {
        grid-template-columns: 300px auto;
        gap: 5rem;
    }

    .hero__content {
        text-align: left;
    }

    .hero__description {
        margin-left: 0;
    }

    .hero__actions {
        justify-content: flex-start;
    }
}